<div class="top-nav">
  <i matTooltip="Home" matTooltipClass="custom-tooltip" class="material-icons">home</i>
  <i matTooltip="Projects" matTooltipClass="custom-tooltip" class="material-icons">folder</i>
  <i matTooltip="Experience" matTooltipClass="custom-tooltip" class="material-icons">work_history</i>
  <i matTooltip="Tools" matTooltipClass="custom-tooltip" class="material-icons">construction</i>
</div>
<div class="container">
  <div class="left-half">
    <div class="profile-card">
      <div class="profile-image">
        <img src="assets/profile.jpg" alt="Profile Picture" />
      </div>
      <div class="profile-details">
        <h2>Serin Tony</h2>
        <p class="profile-description">
          An aspiring cybersecurity enthusiant whose interest stem from developing secure web application for Reinsurance
          domain.
        </p>
        <div class="social-icons">
          <img src="assets/github.png" alt="Github" class="gitHub" />
          <img src="assets/gmail.png" alt="Gmail" class="gitHub" />
          <img src="assets/linkedin.png" alt="LinkedIn" class="gitHub" />
          <img src="assets/steam.png" alt="Steam" class="gitHub" />
        </div>
      </div>
    </div>
  </div>
  <div class="right-half">
    <div class="introduction">
      <h1><span>SOFTWARE </span><br/>
        <span class="secondHeading">ENGINEER</span></h1>
      <p class="description">Passionate about creating intuitive and engaging user experiences. Specialize in transforming ideas into
        beautifully crafted products.</p>
      <div class="stats">
        <div>
          <h2>+2</h2>
          <p>Years of Experience</p>
        </div>
        <div>
          <h2>+10</h2>
          <p>Projects Completed</p>
        </div>
      </div>
    </div>
    <app-projects></app-projects>
    <app-experiance></app-experiance>
    <div class="services">
      <div class="card">
        <h3>Dynamic Animation, Motion Design</h3>
        <i class="fa fa-arrow-right"></i>
      </div>
      <div class="card">
        <h3>Framer, Figma, WordPress, ReactJS</h3>
        <i class="fa fa-arrow-right"></i>
      </div>
    </div>
  </div>
</div>